/* 기본 폰트 스타일 */
body {
    font-family: Arial, sans-serif;
}

/* 헤더 스타일 */
header {
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: white;
    padding: 50px 0;
}

/* 네비게이션 로고 이미지 스타일 */
.navbar-brand img {
    margin-right: 10px;
    width: 80px; /* 로고 너비 설정 */
    height: auto; /* 비율 유지 */
}

/* 메인 이미지 */
.full-width-image {
    width: 100%; /* 화면 가로를 가득 채움 */
    height: auto; /* 비율 유지 */
    display: block;
    object-fit: cover;
}

/* About, Members, Contact 섹션 타이틀 */
section h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #007bff;
}

/* 버튼 스타일 */
.btn-primary {
    background-color: #0056b3;
    border-color: #004494;
}

.btn-primary:hover {
    background-color: #007bff;
    border-color: #0056b3;
}
